{% extends '_layout.html' %}

{% block title %}Movie Rating App | Movie{% endblock %}

{% block body %}
<h1 class="mb-5"></h1>
<!-- Anessa's Get Single Movie: Feature 4 -->
{% if movie %}
    {% if movie.movie_id == movie_id %}
        <div>
            <h2 name="title" class="mb-5 font-weight-bold">{{ movie.title }}</h2>
            <h4 name="director" class="mb-1">Director {{ movie.director }}</h4>
            <p name="rating">Rating: <span class="font-weight-bold font-italic">{{ movie.rating }}/5 stars</span></p>
            <form>
                <button type="submit" class="w-20 h-20 p-3 mt-5 btn btn-primary" name="edit" formaction="/movies/{{ movie.movie_id }}/edit" formmethod="GET">Edit</button>
                <button type="submit" class="w-20 h-20 p-3 mt-5 btn btn-danger" name="delete" formaction="/movies/{{ movie.movie_id }}/delete" formmethod="POST">Delete</button>
            </form>
        </div>
    {% endif %}
{% else %}
    <h1>{{ error_status }} Error</h1>
    <h4>{{ error_message }}</h4>
{% endif %}

{% endblock %}
