{% extends '_layout.html' %}


{% block body %}
<h1>Search Movie Ratings</h1>
<p>Search for a movie rating below</p>


<form action="/movies/search" method="get">
   <div class="mb-3">
       <label for="title" class="form-label">Movie Title</label>
       <input type="text" class="form-control" id="title" name="title" value="{{ title }}">
   </div>
   <button type="submit" class="btn btn-primary">Search</button>
</form>


{% if title and not movie %}
   <p>{{ message }}</p>
{% elif movie %}
<div>
   <h2>{{ movie.title }}</h2>
   <p>Director: {{ movie.director }}</p>
   <p>Rating: {{ movie.rating }}</p>
</div>
{% endif %}
{% endblock %}
