{% extends '_layout.html' %}

{% block title %}Movie Rating App | Search Movie Ratings{% endblock %}

{% block body %}
<h1 class="mb-5">Search Movie Ratings</h1>
<p class="mb-3">Search for a movie rating below</p>
<!-- TODO: Feature 3 -->
<form class="mb-3" action="/movies/search" method="get">
    <div class="col-sm-7">
        <label for="movie-name" class="form-label">Movie Name</label>
        <input type="text" name="movie-name" id="movie-name" class="form-control mb-3 border border-dark">
    </div>
    <button type="submit" class="btn btn-dark">Search</button>
</form>

{% if movie %}
<p class="mb-3">{{ title }} rating: {{ rating }}</p>

{% else %}
<p class="mb-3">Movie not found.</p>

{% endif %}
{% endblock %}
